*.o
*.lo
*~
.libs
Makefile
config.guess.dh-orig
config.h
config.log
config.status
config.sub.dh-orig
debian/files
debian/shellinabox.debhelper.log
debian/shellinabox.postinst.debhelper
debian/shellinabox.postrm.debhelper
debian/shellinabox.prerm.debhelper
debian/shellinabox.substvars
debian/shellinabox/
debian/tmp/
libhttp.la
liblogging.la
libtool
shellinabox/beep.h
shellinabox/cgi_root.h
shellinabox/enabled.h
shellinabox/favicon.h
shellinabox/keyboard-layout.h
shellinabox/keyboard.h
shellinabox/print-styles.h
shellinabox/root_page.h
shellinabox/shell_in_a_box.h
shellinabox/styles.h
shellinabox/vt100.h
shellinaboxd
shellinaboxd.1
shellinaboxd.ps
stamp-h1
